<div class="jumbotron">
  <header>
    <h1>Exercise5: You will be practising the routes and adding logic to it</h1>
  </header>
  <div class="main-container">
    <div class="row">
      <h3>Update the create.html with a form when submitted adds a category to the categoryData and sends an ajax request to create a category</h3>
      <h3>Similarly update delete.html with a list of items and a delete button beside it and when clicked sends a delete request to the backend and also deletes from the categoryData.cats</h3>
    </div>
  </div>
</div>