<div class="jumbotron">
  <header>
    <h1>Exercise6: You will be practising more on the routes and adding logic to it</h1>
  </header>
  <div class="main-container">
    <div class="row">
      <h3>Update the module_practice.html.erb such that add, subtract, multiply divide are into its on own tab and when you switch them the result is shown accordingly</h3>
    </div>
  </div>
</div>