<div class="jumbotron category" ng-app="category">
  <header>
    <h1>Post Overflow: Learning Angular</h1>
    <ul>
      <li><a href="#create">Create</a></li>
      <li><a href="#list">List</a></li>
      <li><a href="#delete">Delete</a></li>
    </ul>
  </header>
  <div ng-view>
  </div>
</div>
